.row
  .col-md-12.text-center.grub_url_form_container
    .flash_error= flash[:error]

    = form_tag grub_url_path do
      .row
        = text_field_tag :url, nil, placeholder: 'type url here'
        = submit_tag 'grab!', class: 'btn btn-primary btn-xs'
      .row
        = radio_button_tag 'format', 'pdf', true
        = label_tag 'format_html', 'pdf'

        = radio_button_tag 'format', 'tgz'
        = label_tag 'format_pdf', 'tgz'